<%= form_for(@message) do |f| %>

  <% if @message.errors.present? %>

    <div class="alert alert-danger">

      <%= alert %>
｀
      <ul>
        
        <% @message.errors.full_messages.each do |full_message| %>
    
            <li><%= full_message %></li>
    
        <% end %>

      </ul>
  
    </div>

  <% end %>
    <div class="col-xs-6 col-sm-4">
      <form class="form-inline">
        <div class="form-group">
          <label for="InputName">名前</label>
          <input type="text" class="form-control" id="InputName" placeholder="高橋舞伎">
        </div>
        <div class="form-group">
          <label for="InputContent">内容</label>
          <textarea class="form-control" id="InputContent" placeholder="ハローワールド"></textarea>
        </div>
      </form>
    </div>

<% end %>